# Исключить все файлы с расширением .tmp
*.tmp

# Но отслеживать файл danger.tmp даже если он подпадает под исключение выше
!danger.tmp

# Игнорировать все файлы в каталоге log/
log/

# Игнорировать все файлы в каталоге build/
build/

# Игнорировать txt файлы в каталоге one/, но не файл one/two/three.txt
one/*.txt

# Игнорировать все .txt файлы в каталоге six/
six/**/*.txt